* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

/* Navigation Flexbox */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(207,177,183);
  height: 120px;
}

.avatar {
  position:absolute;
  width: 10%;
  height: 20%;
  border-radius: 50%;
  margin: 5px 0px 0px 70px;
  z-index: 1;
}

.header h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(67,129,193);
  width: 300px;
  height: 50px;
  margin-top: 100px;
  z-index: 1;
}

#navbar {
  display: flex;
  width: 300px;
  align-items: flex-end;
}

a[href*="#"]:link,
a[href*="#"]:visited {
  margin: 5%;
  text-decoration: none;
  cursor: pointer;
  color:black;
}


/* Banner Flexbox */

.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/vector-jan-2021-73_generated.jpg);
  background-repeat: no-repeat;
  height: 200px;
}

/* Page Content Grids */

.page-wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px 800px 300px;
  grid-template-areas:
  "about about about"
  "portfolio portfolio portfolio"
  "contact contact contact";
}

#about {
  grid-area: about;
  display: grid;
  background-color: lightcoral;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 300px;
  grid-template-areas:
  "about aboutp aboutp";
}

#aboutp {
  grid-area: aboutp;
  display: flex;
  align-items: center;
  background-color: lightgreen;
}

#portfolio {
  grid-area: portfolio;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 400px 200px 200px;
  grid-template-areas:
  "portfolioh2 portfolio1 portfolio1"
  "portfolioh2 portfolio2 portfolio3"
  "portfolioh2 portfolio4 portfolio5";
}

#portfolioh2 {
  grid-area: portfolioh2;
}

#portfolio2,
#portfolio3,
#portfolio4,
#portfolio5 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#portfolio1 {
  grid-area: portfolio1;
  display: flex;
  background-color: aqua;
  margin: 0;
}

.img-container {
  display:flex;
  overflow: hidden;
}

#portfolio1 h3 {
  position:absolute;
  display: flex;
  background-color: azureu;
}

#portfolio2 {
  grid-area: portfolio2;
  background-image: url(../images/portfolio2.jpg);
}

#portfolio3 {
  grid-area: portfolio3;
  background-image: url(../images/portfolio3.jpg);
}

#portfolio4 {
  grid-area: portfolio4;
  background-image: url(../images/portfolio4.jpg);
}

#portfolio5 {
  grid-area: portfolio5;
  background-image: url(../images/portfolio5.jpg);
}

#contact {
  grid-area: contact;
  background-color: lightpink;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
} */

p {
  padding: 15px;
  text-align: center;
}
