* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightcyan;
  height: 100px;
}

#navbar {
  display: flex;
  width: 300px;
}

a {
  margin: 5%;
}

.header h1 {
  display: flex;
  justify-content: center;
  background-color: lightgrey;
  margin: 10px;
  width: 250px;

}

/* .hero-banner {
  background-image: url(../images/vector-jan-2021-73_generated.jpg);
} */


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
