* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}



.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  background-color: lightcyan;
  height: 100px;
}

#navbar {
  display: flex;
  width: 300px;
}

a {
  margin: 5%;
  text-decoration: none;
  cursor: pointer;
}

.header h1 {
  display: flex;
  justify-content: flex-end;
  background-color: lightgrey;
  width: 300px;
  padding: 5px;
  margin-bottom: 10px
}

.hero-banner {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  background-image: url(../images/vector-jan-2021-73_generated.jpg);
  height: 100px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "about about about"
  "portfolio portfolio portfolio"
  "contact contact contact";
}

#about {
  grid-area: about;
  display: flex;
  justify-content: space-evenly;
  background-color: lightcoral;
}

#portfolio {
  grid-area: portfolio;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
  "portfolioh2 portfolio1 portfolio1"
  "portfolioh2 portfolio2 portfolio3"
  "portfolioh2 portfolio4 portfolio5";
}

#portfolioh2 {
  grid-area: portfolioh2;
  background-color: lightgoldenrodyellow;
}

#portfolio1 {
  grid-area: portfolio1;
  background-color: lightgray;
}

#portfolio2 {
  grid-area: portfolio2;
  background-color: lightseagreen;
}

#portfolio3 {
  grid-area: portfolio3;
  background-color: blueviolet;
}

#portfolio4 {
  grid-area: portfolio4;
  background-color: brown;
}

#portfolio5 {
  grid-area: portfolio5;
  background-color: lightsalmon;
}

#contact {
  grid-area: contact;
  background-color: lightpink;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
